:root {
  /* --main-color: #5db95f79; */
  --main-color: #99b79772;
  --secondary-color: #36943c;
  --tertiary-color: #00701b;
  /* --background-color: #f6edd9d4; */
  --background-color: #f6edd945;
  --primary-dark-color: #8d8d6a;
  --secondary-dark-color: #595d2a;
  --font-color-light: #2c2d1e;
  /* --font-color: #050924; */
  --font-color: #07102c;
  --textaree-color: #add8e6;

  --font-color-dark: #123749;
  --font-color-light: #7e929b;
  --light-color: #f4f4f4;

  /* FINAL COLOR */
  --primary-main-color: #7cc999;
  --secondary-main-color: #517d74;

  --primary-bg-color: #acd0fc;
  --secondary-bg-color: #c8defe;

  --tree-color: #86bf3c;
  --dark-tree-color: #3a4517;
  --trunk-color: #544321;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
  align-items: center;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.app_content {
  margin: 2rem;
  height: 70vh;
  overflow-y: scroll;
}
/* input blue, sub background - yellow, main background - green, button - green  */
