/*---------------
    Top Bar
----------------*/

.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #97c095a3;
  --main-color: black;
  padding: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

/* The design is inspired from the mockapi.io */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: 200;
}
.logo-container div {
  margin-bottom: 0.5rem;
  letter-spacing: -0.7px;
}

.logo-container img {
  height: auto;
  max-width: 100%; /* Adjust based on your preference */
}

.profile-button {
  background: none;
  box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 8%);
  border-radius: 50px;
  padding: 0.8rem;
}
.profile-button i {
  font-size: 2rem;
  color: var(--font-color-light);
  -webkit-text-stroke: 0.7px;
}

/*
    Bottom Bar
  */
.bottombar_icon {
  color: var(--font-color);
  font-size: 1.5rem;
  -webkit-text-stroke: 0.7px;
}

.navigation-card {
  /* Existing styles */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--main-color);
  border-radius: 50px;
  /* Positioning and layout adjustments */
  position: fixed; /* Use fixed positioning to keep it at the bottom */
  bottom: 0; /* Align to the bottom of the viewport */
  left: 0; /* Align to the left of the viewport */
  right: 0; /* Align to the right of the viewport */
  margin: 15px; /* Center the navigation card horizontally */
  padding: 15px 20px; /* Adjust padding as needed */
  max-width: 500px; /* Optional: limit the max width for larger screens */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
  z-index: 1000; /* Ensure it's above other content */
  height: 80px;
}
.tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  /* background-color: var(--main-color); */
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  margin: 0.3rem 1rem;
}

.tab:hover {
  background-color: var(--background-color);
}
::file-selector-button {
  display: none;
}
input[type="file"] {
  color: rgba(0, 0, 0, 0);
}

.uploadBtn_container {
  margin-top: 30px;
  align-items: center;
  text-align: center;
}

.uploadBtn {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: var(--font-color-dark);
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--main-color);
  width: 125px;
}

.uploadBtn_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.uploadBtn:hover .uploadBtn_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.uploadBtn:active .uploadBtn_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
