/*---------------
    Top Bar
----------------*/

.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #97c095a3;
  --main-color: black;
  padding: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

/* The design is inspired from the mockapi.io */



  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo-container img {
    height: auto;
    max-width: 100%; /* Adjust based on your preference */
  }

  .profile-button {
    margin-right: 15px;
  }


  /*
    Bottom Bar
  */

  .navigation-card {
    /* Existing styles */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--main-color);
    border-radius: 50px;

    /* Positioning and layout adjustments */
    position: fixed; /* Use fixed positioning to keep it at the bottom */
    bottom: 0; /* Align to the bottom of the viewport */
    left: 0; /* Align to the left of the viewport */
    right: 0; /* Align to the right of the viewport */
    margin: 15px; /* Center the navigation card horizontally */
    padding: 15px 20px; /* Adjust padding as needed */
    max-width: 500px; /* Optional: limit the max width for larger screens */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    z-index: 1000; /* Ensure it's above other content */

    height: 80px;
    }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
  }
  .tab:hover {
    background-color: rgb(223, 223, 223);
  }
  