.profile_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.card-client {
  background: var(--background-color);
  width: 15rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #efeed7;
  box-shadow: 0 6px 10px #212121;
  border-radius: 10px;
  text-align: center;
  color: rgb(49, 64, 69);
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border: 2px solid rgba(49, 64, 69, 0.263);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 1rem auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}
/* btn */
.profile_update_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
}
.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}
.updatebtn_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: rgb(62, 62, 62);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #bfd7f5, #acd0fc);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9cc9ff;
  font-weight: 600;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
